*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.samplebox{
    height:400px;
    background:lightblue;
}

.color01{
    background-color:white;
}

.color02{
    background-color:rgb(209, 218, 223);
 }

 .color03{
    background-color:rgb(175, 183, 187);
 }

 p{
    font-size:30px;
    padding:50px;
    font-family: sans-serif;
}